.scroll {
    height: 500px;
    border: 1px solid red;
    position: relative;
    overflow: auto;
}

.scroll .scroll-context {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
.scroll .view-list{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}